header {
    width: 100vw;
}

section {
    margin: 1rem 0rem;
    width: 100%;
}

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #610C9F;
}

nav .logo {
    color: white;
}

nav .nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;
}

nav .nav-links li {
    list-style: none;
}

nav .nav-links li a {
    color: white;
}

.icono-menu {
    display: none;
    color: white;
}

.menu-mobile {
    display: none;
}


.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoria .titulo {
    width: 90%;
}

.lista {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
}

.lista::-webkit-scrollbar {
    height: 0.4rem;
}

.lista::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eeeeee;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.lista::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #979797;
}

.lista .poster {
    width: 100px;
    flex: 0 0 auto;
}

.lista .poster img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    nav {
        justify-content: space-between;
    }

    nav .nav-links {
        display: none;
    }

    .icono-menu {
        display: block;
        width: 2rem;
    }

    .menu-mobile.show {
        display: block;
        background-color: lightblue;
        position: absolute;
        /* top: 60px; */
        right: 0;
        width: 70%;
        padding: 1rem;
    }

    .menu-mobile ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .mobile-menu li {
        margin: 10px;
    }

    .mobile-menu li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}